<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Xylem.AI</title>

<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<div id="welcomeScreen">
    <img src="/static/logo.png" class="center-logo">
</div>

<div class="chat-header">
    <button id="newChatBtn">✦ New Chat</button>
</div>

<div id="chatBox"></div>

<div class="bottom">

<input
id="message"
type="text"
placeholder="Ask a question..."
autocomplete="off">

<button id="sendButton">
↑
</button>

</div>

</div>

<script src="/static/script.js"></script>

</body>
</html>
